@media (max-width: 1200px) {
    :root {
        --widthItem: 95px;
    }
    .item-child-map .bg-item {
        min-width: 85px;
        width: 85px;
        height: 95px;
    }
    .box-item-map .item-child-map:nth-child(1) {
        transform: translate3d(calc(var(--widthItem) + var(--widthItem)*0.4 ), -70px, 0);
    }
    .name-item-map {
        font-size: 20px;
    }
    .item-child-map:hover .box-hanlde-map {
        width: 170px;
        height: 170px;
    }
    .item-child-map:hover .box-hanlde-map>img {
        width: 100%;
        max-width: 120px;
    }
    .box-hanlde-map .list-content .item{
        font-size: 14px;
    }
}
@media (max-width: 992px) {
    .wrap-map-northern .box-item-map:nth-child(1) {
        top: 34%;
        left: 8%;
    }
    .wrap-map-northern .box-item-map:nth-child(4) {
        bottom: 15%;
    }
    .name-item-map {
        font-size: 16px;
    }
}
@media (max-width: 640px) {
    :root {
        --widthItem: 55px;
    }
    .item-child-map .bg-item {
        min-width: 55px;
        width: 55px;
        height: 65px;
    }
    .box-item-map .item-child-map:nth-child(1) {
        transform: translate3d(calc(var(--widthItem) + var(--widthItem)*0.6 ), -50px, 0);
    }
    .item-child-map .content .title-name {
        font-size: 8px;
        margin-top: 0;
    }
    .wrap-map-northern .box-item-map:nth-child(1) .name-item-map {
        top: -90px;
    }
    .wrap-map-northern .box-item-map .name-item-map::before {
        width: 30px;
        bottom: -13px;
        right: -25px;
    }
    .wrap-map-northern .box-item-map:nth-child(2) .name-item-map {
        top: 10px;
    }
    .wrap-map-northern .box-item-map:nth-child(2) .name-item-map::before {
        bottom: 8px;
    }
    .wrap-map-northern .box-item-map:nth-child(3) .name-item-map::before {
        bottom: 8px;
        left: -25px;
    }
    .wrap-map-northern .box-item-map:nth-child(3) .name-item-map {
        bottom: -25px;
        left: 80%;
    }
    .wrap-map-northern .box-item-map:nth-child(4) .name-item-map::before {
        bottom: 8px;
        left: -25px;
    }
    .wrap-map-northern .box-item-map:nth-child(4) .name-item-map {
        bottom: -26px;
        left: 73%;
    }
    .item-child-map:hover .box-hanlde-map {
        width: 140px;
        height: 140px;
    }
    .item-child-map:hover .box-hanlde-map{
        left: -140px;
    }
}