
:root {
    --font-300: "Font-300";
    --font-normal: "Font-Regular";
    --font-500: "Font-500";
    --font-600: "Font-600";
    --font-700: "Font-700";
    --color-main: #97400C;
    --width-container: 1466px;
    --height-blog: 290px;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.45;
    font-family: 'Roboto', sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
}

a {
    /* color: var(--color-text); */
    transition: all 0.4s ease 0s;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover * {
    color: #FFE600;
    transition: all 0.4s ease 0s;
}

a:hover p {
    color: var(--color-text);
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

.mh-auto {
    min-height: auto !important;
}

.mw-auto {
    min-width: auto !important;
}

body {
    font-family: var(--font-normal);
    line-height: 1.33;
}

img {
    max-width: 100%;
    object-fit: cover;
    transition: all .4s;
}


.m-100 {
    margin-top: 100px!important;
}
.mt-80{
    margin-top: 80px!important;
}
.mb-80{
    margin-bottom: 80px!important;
}

/* img:hover{
    opacity: .8;
} */

main.overflow {
    overflow-x: hidden;
}

a:not(.item):focus,
a:not(.item):focus-visible,
input,
input:focus,
button,
button:focus,
select,
select:focus,
select:focus-visible,
textarea,
textarea:focus,
textarea:focus-visible {
    box-shadow: none !important;
    /* border: none; */
    outline: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }
  
  @media (min-width: 1400px) {
    .container {
      max-width:1330px;
    }
  }
  
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

/* custom map  */
/* custom map  */
:root{
    --widthItem: 110px
}
.wrap-map-northern{
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    position: relative;
    z-index: 2;
}
.box-main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.wrap-map-northern .box-item-map{
    display: inline-flex;
    text-align: center;
    position: absolute;
    
}
.wrap-map-northern .box-item-map>div:not(.name-item-map){
    position: relative;
    z-index: 1;

}

.item-child-map{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.item-child-map .bg-item{
    min-width: 100px;
    width: 100px;
    height: 110px;
}
.item-child-map .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5px;
}
.item-child-map .content .title-name{
    font-size: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    -moz-transform: matrix( 1,0,0,1,0,0);
    -webkit-transform: matrix( 1,0,0,1,0,0);
    -ms-transform: matrix( 1,0,0,1,0,0);
    font-weight: 700;
    min-width: max-content;
    margin-top: 6px;
}
.name-item-map{
    font-size: 26px;
    background: linear-gradient(to top, #14361b 0%, #017926 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    position: absolute;
    padding: 0 10px;
    border-bottom: 2px solid #017926;
    min-width: max-content;
}
.box-hanlde-map{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: 2px solid #017926;
    border-radius: 100%;
    transition: all .3s;
    overflow: hidden;
    /* transition-delay: .2s; */
}
.box-hanlde-map>img{
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}
.box-hanlde-map .list-content{
    position: relative;
    transform: translateX(calc(100% - 10px));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-hanlde-map .list-content .item{
    background: linear-gradient(to top, #14361b 0%, #017926 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    width: 0;
}
.box-hanlde-map .list-content .item:nth-child(1){
    transform: translateX(-50%);
    margin-top: -10px;
    top: 0;
}
.box-hanlde-map .list-content .item:nth-child(2){}
.box-hanlde-map .list-content .item:nth-child(3){
    bottom: 0;
    transform: translateX(-50%);
    margin-left: 32px;
}
.box-hanlde-map .list-content .item::before{
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #017926;
    border-radius: 100%;
    background: linear-gradient(to top, #14361b 0%, #017926 100%);
}
.item-child-map:hover .box-hanlde-map{
    transition: all .3s;
    overflow: unset;
    width: 200px;
    height: 200px;
    top: -100%;
    left: -50px;
    transition-delay: .2s;
}
.item-child-map:hover .box-hanlde-map>img{
    visibility: visible;
    opacity: 1;
    width: max-content;
    transition: all .3s;
    transition-delay: .3s;
}
.item-child-map:hover .box-hanlde-map .list-content .item{
    opacity: 1;
    visibility: visible;
    width: max-content;
    transition: all .3s;
    transition-delay: .3s;
}
.wrap-map-northern .box-item-map .name-item-map{
   
}
.wrap-map-northern .box-item-map .name-item-map::before{
    content: "";
    width: 70px;
    height: 2px;
    bottom: -26px;
    right: -59px;
    position: absolute;
    background: linear-gradient(to right, #14361b 0%, #017926 100%);
}
.wrap-map-northern .box-item-map:nth-child(1) .name-item-map{
    top: -150px;
}
.wrap-map-northern .box-item-map:nth-child(1) .name-item-map::before{
    transform: rotateZ(45deg);
}
.wrap-map-northern .box-item-map:nth-child(2) .name-item-map{
    top: 30px;
}
.wrap-map-northern .box-item-map:nth-child(2) .name-item-map::before{
    bottom: 23px;
    transform: rotateZ(-45deg);
}
.wrap-map-northern .box-item-map:nth-child(3) .name-item-map{
    bottom: -50px;
    left: 100%;
}
.wrap-map-northern .box-item-map:nth-child(3) .name-item-map::before{
    bottom: 23px;
    transform: rotateZ(45deg);
    left: -59px;
}
.wrap-map-northern .box-item-map:nth-child(4) .name-item-map{
    bottom: -50px;
    left: 100%;
}
.wrap-map-northern .box-item-map:nth-child(4) .name-item-map::before{
    bottom: 23px;
    transform: rotateZ(45deg);
    left: -59px;
}
.box-item-map .item-child-map:nth-child(2):hover .box-hanlde-map{
    top: 90%;
    left: -100%;
    transform: translateY(20px);
}
  
  
.box-item-map .item-child-map:nth-child(1){
    transform: translate3d(calc(var(--widthItem) + var(--widthItem)*0.4 ), -85px, 0);
}

.wrap-map-northern .box-item-map:nth-child(1){
    top: 34%;
    left: 12%;
}
.wrap-map-northern .box-item-map:nth-child(2){
    top: 57%;
    left: 26%;
}
.wrap-map-northern .box-item-map:nth-child(3){
    top: 48%;
    right: 16%;
}
.wrap-map-northern .box-item-map:nth-child(4){
    bottom: 21%;
    right: 30%;
}

.wrap-map-northern.active{}
.wrap-map-northern.active>.bg-map,
.wrap-map-northern.active .box-item-map:not(.active) .item-child-map:not(.active),
.wrap-map-northern.active .box-item-map .item-child-map:not(.active){filter: brightness(0.5); transition-delay: .3s;}
.box-item-map.active{
    z-index: 2;
}
.wrap-map-northern .box-item-map .item-child-map.active .box-hanlde-map{
    border-color: #0fcd49;
}
.wrap-map-northern .box-item-map .item-child-map.active .box-hanlde-map .list-content .item{
    color: #0fcd49;
    background: transparent;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}
.wrap-map-northern .box-item-map .item-child-map.active .box-hanlde-map .list-content .item::before{
    background: #0fcd49;
}
body.active-map{
    position: relative;
    /* transition: all .4s; */
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .4s;
}
body.active-map::before{
    z-index: 1;
    background: #f2eacc;
    filter: brightness(0.5);
    /* transition: all .3s; */
    transition-delay: .3s;
}
/* custom map  */
/* custom map  */

























